.header {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
}

.header h1 {
  display: flex;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
}

/** Portrait phones usually **/
@media only screen and (max-width: 480px) {
  .logo {
    max-width: 3rem;
    max-height: 3rem;
  }
}

/** Tablets & landscape phones **/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .logo {
    height: 4rem;
    width: 4rem;
  }
}

/** Desktop and large screen sizes **/
@media only screen and (min-width: 1024px) {
  .logo {
    max-height: 10rem;
  }
}
